<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Add Monitored Item</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>
<div>
  <h2>Add New Monitored Item</h2>
  <form th:action="@{/monitor}" th:object="${monitoredItem}" method="post">
    <div>
      <label for="itemName">Item Name</label>
      <input type="text" id="itemName" th:field="*{itemName}" required>
    </div>
    <div>
      <label for="country">Country</label>
      <input type="text" id="country" th:field="*{country}" required>
    </div>
    <div>
      <label for="siteUrl">Site URL</label>
      <input type="text" id="siteUrl" th:field="*{siteUrl}" required>
    </div>
    <div>
      <button type="submit">Add Item</button>
    </div>
  </form>
</div>
</body>
</html>