<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Monitored Items</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
</head>
<body>
<div>
  <h2>Monitored Items</h2>
  <table>
    <tr>
      <th>Item Name</th>
      <th>Country</th>
      <th>Site URL</th>
    </tr>
    <tr th:each="item : ${items}">
      <td th:text="${item.itemName}"></td>
      <td th:text="${item.country}"></td>
      <td><a th:href="${item.siteUrl}" th:text="${item.siteUrl}"></a></td>
    </tr>
  </table>
  <a th:href="@{/monitor/add}">Add New Item</a>
</div>
</body>
</html>